html {
    height: 100%;
}

footer img {
    float: right;
    margin-left: 55px;
}

ribbon {
  background: #C6C6C6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #036), color-stop(100%, #369));
  background: -webkit-linear-gradient(#036, #369);
  background: -moz-linear-gradient(#036, #369);
  background: -o-linear-gradient(#036, #369);
  background: -ms-linear-gradient(#036, #369);
  background: linear-gradient(#036, #369);
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  margin: 0px 0px 20px -23px;
  padding: 0px 25px 0px 20px;
  display: block;
  width: 100%;
  border-right: 1px solid #e1e1e1;
}

h5.date {
  margin: 0px;
}

img.primary {
  float:right;
  margin: 10px;
}

p.persona {
  margin-top: 5px;
}

blockquote.date-wrapper {
  padding: 0px 0px 2px 20px;
}
